<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head('JOIN')">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/common.js}"></script>

<body>

<section class="w-100 vh-100">
    <div class="col-lg-6 mx-auto bg-white vh-100 p-4">

        <h3 class="text-center pt-5">회원가입</h3>
        <br>
        <form th:action="@{/auth/join}" th:method="POST" th:onsubmit="return joinValidation()">

            <div class="w-100 py-2">
                <label for="username">Email</label>
                <div class="d-flex">
                    <input class="form-control w-75" type="email" id="username" name="username">
                    <button id="mail" type="button" class="btn btn-danger w-25" th:onclick="sendCert()">인증메일 발송</button>
                </div>

                <div id="chkForm" class="d-flex d-none pt-3">
                    <input class="form-control w-75" type="text" id="certKey" name="certKey">
                    <button type="button" class="btn btn-outline-danger w-25" th:onclick="chkCert()">인증</button>
                </div>
            </div>
            <div class="w-100 py-2">
                <label for="nickname">Nickname</label>
                <input class="form-control" type="text" id="nickname" name="nickname">
            </div>
            <div class="w-100 py-2">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <div class="w-100 py-2">
                <label for="password">Password check</label>
                <input class="form-control" type="password" id="pwChk">
            </div>
            <div class="w-100 py-3">
                <button type="submit" id="join" class="btn btn-primary w-100" onclick="join()" disabled>
                    <span>회원가입 완료</span>
                </button>
            </div>
        </form>
        <br>
        <span>이미 <b>GIANTS</b>의 회원이신가요?</span>
        <a class="btn btn-outline-primary w-100" th:href="@{/auth/login}"><span>로그인하러 가기</span></a>

    </div>
</section>


<script>
    function joinValidation() {

        alert("준비중입니다.");
        return false;

        const pw = document.getElementById("password").value;
        const pw2 = document.getElementById("pwChk").value;
        const username = document.getElementById("username").value;

        const regexId = /^[a-z0-9]{6,12}$/;
        const regexPw = /^(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]|.*[0-9]).{10,15}$/

        if (username == ""){
            alert("아이디를 입력해주세요.");
            return false;
        }
        if (!regexId.test(username)) {
            alert("아이디를 확인해주세요. (6~12자의 영문 숫자 조합)");
            return false;
        }
        if (pw == '' || pw2 == '') {
            alert("비밀번호를 입력해주세요.");
            return false;
        }
        if (!regexPw.test(pw)) {
            alert("비밀번호 양식을 확인해주세요. (10~15자의 영문,숫자,특수문자 조합)");
            return false;
        }
        if (pw != pw2) {
            alert("비밀번호를 확인해주세요.");
            return false;
        }
    }
</script>
</body>

</html>