<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head('JOIN')">
</head>

<body>

<section class="w-100 vh-100">
    <div class="col-lg-6 mx-auto bg-white vh-100 p-4">

        <h3 class="text-center pt-5">회원가입</h3>
        <br>
        <form th:action="@{/auth/join}" th:method="POST" th:onsubmit="return joinValidation()">

            <div class="w-100 py-2">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username">
            </div>
            <div class="w-100 py-2">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <div class="w-100 py-2">
                <label for="password">Password check</label>
                <input class="form-control" type="password" id="pwChk">
            </div>
            <div class="w-100 py-3">
                <button type="submit" class="btn btn-primary w-100" onclick="join()">
                    <span>회원가입 완료</span>
                </button>
            </div>
        </form>
        <br>
        <span>이미 <b>GIANTS</b>의 회원이신가요?</span>
        <button class="btn btn-outline-primary w-100" onclick="goLogin()"><span>로그인하러 가기</span></button>

    </div>
</section>

<script>
    function joinValidation() {

        const pw = document.getElementById("password").value;
        const pw2 = document.getElementById("pwChk").value;
        const username = document.getElementById("username").value;

        const regexId = /^[a-z0-9]{6,12}$/;
        const regexPw = /^(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]|.*[0-9]).{10,15}$/

        if (username == ""){
            alert("아이디를 입력해주세요.");
            return false;
        }
        if (!regexId.test(username)) {
            alert("아이디를 확인해주세요. (6~12자의 영문 숫자 조합)");
            return false;
        }
        if (pw == '' || pw2 == '') {
            alert("비밀번호를 입력해주세요.");
            return false;
        }
        if (!regexPw.test(pw)) {
            alert("비밀번호 양식을 확인해주세요. (10~15자의 영문,숫자,특수문자 조합)");
            return false;
        }
        if (pw != pw2) {
            alert("비밀번호를 확인해주세요.");
            return false;
        }
    }
</script>
</body>

</html>