<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head('LOGIN')">

</head>

<body>

<section class="w-100 vh-100">
  <div class="col-lg-6 mx-auto bg-white vh-100 p-4">
    <div>
      <a class="btn btn-outline-primary p-1" th:href="@{/}">
        <i class="fa fa-arrow-left"></i> 메인페이지로
      </a>
    </div>
    <br>
    <h3 class="text-center pt-5">로그인</h3>
    <br><br>
    <form th:action="@{/auth/login}" method="POST">
      <div class="w-100 py-2">
        <label for="username">ID</label>
        <input class="form-control" type="text" id="username" name="username" autocomplete="off">
      </div>
      <div class="w-100 py-2">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
      </div>
      <div class="w-100 py-3">
        <button type="submit" class="btn btn-primary w-100">
          <span>로그인</span>
        </button>
      </div>
    </form>
    <br>
    <span>아직 <b>GIANTS</b>의 회원이 아니신가요?</span>
    <a class="btn btn-outline-primary w-100" th:href="@{/auth/join}"><span>회원가입</span></a>

  </div>
</section>


</body>

</html>