<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('HOT')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('HOT')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto p-3">

        <form th:action="@{/main/hot}" th:method="GET" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="form-control" name="type">
                        <option th:selected="${pageRequestDto.type == 't'}" value="t">제목</option>
                        <option th:selected="${pageRequestDto.type == 'c'}" value="c">내용</option>
                        <option th:selected="${pageRequestDto.type == 'w'}" value="w">작성자</option>
                        <option th:selected="${pageRequestDto.type == 'tc'}" value="tc">제목 + 내용</option>
                        <option th:selected="${pageRequestDto.type == 'tcw'}" value="tcw">제목 + 내용 + 작성자</option>
                    </select>
                </div>
                <input class="form-control" type="text" name="keyword" th:value="${pageRequestDto.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="submit">Search</button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr clastt="text-center">
                <td>작성자</td>
                <td>제목</td>
                <td>좋아요</td>
                <td>작성일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards.dtoList}">
                <td th:text="${board.user.username}"></td>
                <td>
                    <span th:text="${board.title}"></span>
                    [<span th:text="${board.commentCount}"></span>]
                </td>
                <td th:text="${board.likeCount}"></td>
                <td>[[${#temporals.format(board.createdAt, "yyyy/MM/dd")}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item" th:if="${boards.prev}">
                <a th:href="@{/main/hot(page=${boards.start -1})}" tabindex="-1"> < </a>
            </li>
            <li class="page-item" th:each="page: ${boards.pageList}">
                <a class="page-link" th:href="@{/main/hot(page=${page})}" th:classappend="${boards.page == page} ? 'bg-primary text-white'">
                    [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${boards.next}">
                <a class="page-link" th:href="@{/main/hot(page=${boards.end +1})}"> > </a>
            </li>
        </ul>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('HOT')">
</div>
<!-- // SIDEBAR -->

</body>

</html>