<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('HOT')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('HOT')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">
        <table class="table">
            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.title}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('HOT')">
</div>
<!-- // SIDEBAR -->

</body>

</html>