<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('MAIN')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('MAIN')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">

        <div class="row p-0 m-0">
            <div class="col-md-12 py-4">
                <div class="card">
                    <div class="card-body">
                        <h4><b>오늘의 증시</b></h4>
                        <div style="background: #f3f3f3; height: 215px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-0 m-0">

            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">

                        <!-- SERCTION 1 -->
                        <div style="font-size: .5rem !important;">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4><b>인기글</b></h4>
                                <a class="btn btn-outline-primary p-1" th:href="@{/main/hot}">
                                    <i class="fa fa-plus p-1 m-0"></i> <span>더보기</span>
                                </a>
                            </div>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>작성자</th>
                                    <th>제목</th>
                                    <th>작성일시</th>
                                    <th>좋아요</th>
                                    <th>댓글수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- // SERCTION 1 -->

                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">

                        <!-- SERCTION 2 -->
                        <div style="font-size: .5rem !important;">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4><b>최근공시</b></h4>
                                <a type="button" class="btn btn-outline-primary p-1" th:href="@{/report/today}">
                                    <i class="fa fa-plus p-1 m-0"></i> <span>더보기</span></a>
                            </div>

                            <table class="table">
                                <thead class="text-center">
                                <tr>
                                    <th>공시기업</th>
                                    <th>보고서명</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="report : ${todayReports}">
                                    <td th:text="${report.corpName}"></td>
                                    <td th:text="${report.reportNm}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- // SERCTION 2 -->

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('MAIN')">
</div>
<!-- // SIDEBAR -->


<footer>

</footer>

</body>

</html>