<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('main')">

</head>

<body>

<!-- JQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/stocks.js}"></script>
<script th:inline="javascript">

    var stock_data = stocks;
    $(document).ready(function () {
        $("#search_input").autocomplete({
            minLength: 2,
            source: stock_data,
            select: function (e, ui) {
                return ui.item.value;
            }
        })
    });
</script>


<nav class="bg-dark" th:replace="layout/layout :: menu('main')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3">

        <!-- 여기서부터 쪼개면 됨 -->
        <div class="row p-5">
            <h4 class="p-3">종목명으로 검색하세요.</h4>
            <form th:action="@{/main/stock}" th:method="GET">
                <div class="ui-widget d-flex">

                    <input type="text" name="name" class="form-control" id="search_input">&nbsp;
                    <button type="submit" class="btn btn-outline-primary px-2">
                        <i class="fa fa-search"></i>
                    </button>

                </div>
            </form>
        </div>
        <!-- 여기서부터 쪼개면 됨 -->

    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('main')">
</div>
<!-- // SIDEBAR -->



</body>

</html>