<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('stock')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('stock')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3">
        <h4>
            <span class="fw-bold text-primary" th:text="${stock.stockName}"></span>
            <span th:text="${stock.stockCode}"></span>
        </h4>

        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('stock')">
</div>
<!-- // SIDEBAR -->

</body>

</html>