<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('STOCK')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('STOCK')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 px-md-3 py-4 overflow-auto">
        <h4 class="pt-2 px-3">
            <span class="text-primary" th:text="${stock.stockName}"></span>
            <span th:text="${stock.stockId}"></span>
            <span class="badge bg-warning text-dark" th:if="${stock.market} == 'p'">
                <span>KOSPI</span>
            </span>
            <span class="badge bg-warning text-dark" th:if="${stock.market} == 'd'">
                <span>KOSDAQ</span>
            </span>
        </h4>

        <div class="row p-0 m-0">
            <div class="col-md-12 pt-2 pb-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="pb-2">기업개요</h4>
                        <div class="p-md-2">
                            <h5>업종</h5>
                            <p class="pb-1" th:text="${stock.sector}"></p>
                            <br>
                            <div th:if="${stock.product}">
                                <h5>주요제품</h5>
                                <p class="pb-1" th:text="${stock.product}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-0 m-0 d-none">
            <div class="col-md-12 py-4">
                <div class="card">
                    <div class="card-body">
                        <h4>재무정보</h4>
                        <div style="background: #f3f3f3; height: 215px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-0 m-0">

            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">

                        <!-- SERCTION 1 -->
                        <div style="font-size: .5rem !important;">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4>토론실</h4>
                                    <a type="submit" class="btn btn-outline-primary p-1" th:href="@{/board/list(stock=${stock.stockId})}">
                                        <i class="fa fa-plus p-1 m-0"></i> <span>더보기</span>
                                    </a>
                            </div>

                            <table class="table">
                                <thead>

                                <tr>
                                    <th>작성자</th>
                                    <th>제목</th>
                                    <th>작성일시</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="board : ${boards}">
                                    <td th:text="${board.user.username}"></td>
                                    <td th:text="${board.title}"></td>
                                    <td>[[${#temporals.format(board.createdAt, 'yyyy/MM/dd')}]]</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- // SERCTION 1 -->

                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">

                        <!-- SERCTION 1 -->
                        <div style="font-size: .5rem !important;">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4>공시</h4>
                                <button type="button" class="btn btn-outline-primary p-1" th:onclick="stockReport([[${stock.stockId}]])">
                                    <i class="fa fa-plus p-1 m-0"></i> <span>더보기</span>
                                </button>
                            </div>

                            <table class="table">
                                <thead class="text-center">
                                <tr>
                                    <th>날짜</th>
                                    <th>보고서명</th>
                                    <th>제출인</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="report : ${reports}">
                                    <td th:text="${report.rceptDt}"></td>
                                    <td th:text="${report.reportNm}"></td>
                                    <td th:text="${report.flrNm}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- // SERCTION 1 -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('STOCK')">
</div>
<!-- // SIDEBAR -->

<script th:src="@{/js/disclosure.js}"></script>

</body>

</html>