<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('detail')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('detail')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">
        <h4 class="text-center py-4" th:text="${board.title}"></h4>
        <br>
        <div class="p-4">
            <span th:text="${#strings.replace(board.createdAt, 'T', '-')}"></span> &nbsp;&nbsp;
            <span th:text="${board.user.username}"></span>
        </div>
        <br>
        <div class="card">
            <div class="card-body overflow-auto" style="height: 500px !important;">
                <span th:text="${board.content}"></span>
            </div>
        </div>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('detail')">
</div>
<!-- // SIDEBAR -->

</body>

</html>