<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(${board.title})">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('detail')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">

        <div>
            <a class="btn btn-outline-secondary py-1 px-2" th:href="@{/board/list(stock=${stockId})}">
                <i class="fa fa-arrow-left"></i> 돌아가기
            </a>
        </div>

        <h2 class="text-center pt-5 pb-2" th:text="${board.title}"></h2>

        <div class="p-2 d-flex justify-content-between">
            <h5 class="text-primary" th:text="${board.user.username}"></h5>
            <h5 th:text="${#strings.replace(board.createdAt, 'T', '-')}"></h5>
        </div>
        <br>
        <div class="card">
            <div class="board-content card-body overflow-auto">
                <span th:text="${board.content}"></span>
            </div>
        </div>

        <div class="p-2 text-end">
            <div th:if="${board.user.username} == ${user}" class="d-flex justify-content-md-end p-1">

                <a type="button" class="btn btn-dark mr-1 border border-0" th:href="@{/board/update(s=${stockId}, b=${board.boardId})}">
                    <i class="fa fa-cog"></i>
                    수정
                </a>&nbsp;

                <form th:action="@{/board/delete}" th:method="POST">

                    <input type="hidden" name="stockId" th:value="${stockId}">
                    <input type="hidden" name="boardId" th:value="${board.boardId}">

                    <button type="submit" class="btn btn-outline-secondary p-2">
                        <i class="fa fa-trash"></i> 삭제
                    </button>
                </form>
            </div>
        </div>

        <div class="p-4 text-center">
            <a th:href="@{/board/like(s=${stockId}, b=${board.boardId})}">
                <button class="btn btn-outline-danger">
                    <div>
                        <i class="fa fa-chart-line fa-3x" th:classappend="${isLiked.equals(true)} ? 'text-danger' : 'text-secondary'"></i>
                    </div>
                    <span th:classappend="${isLiked.equals(true)} ? 'text-danger' : 'text-secondary'">가즈아 !!</span>
                    <span class="text-dark" th:text="${countLikes}"></span>
                </button>
            </a>
        </div>

        <div class="mt-5 p-2">

            <div class="p-2" th:if="${user}">
                <h5 classt="pb-1">댓글 작성</h5>
                <form th:action="@{/comment/create/{boardId}(boardId = ${board.boardId})}" th:method="POST">
                    <textarea class="form-control" name="content" row="4"></textarea>

                    <div class="text-end py-2">
                        <button type="submit" class="btn btn-outline-success py-1 px-2"><span>저장</span></button>
                    </div>
                </form>
            </div>

            <div class="comment-form p-3">
                <span class="text-secondary" th:text="${countComment}"></span>
                <span>개의 댓글</span>
            </div>

            <div class="comment-form p-2" th:each="comment : ${board.comments}">
                <div class="d-flex justify-content-between">
                    <h5 class="text-primary" th:text="${comment.user.username}"></h5>
                    <span class="text-secondary" th:text="${#strings.replace(comment.createdAt, 'T', '-')}"></span>
                </div>

                <div class="p-2">
                    <span th:text="${comment.content}"></span>
                </div>

                <div class="text-end" th:if="${comment.user.username} == ${user}">
                    <button type="button" class="btn btn-outline-dark p-1 border border-0"
                            th:onclick="delComment([[${stockId}]], [[${board.boardId}]], [[${comment.commentId}]])">
                        <span><small>삭제</small></span>
                    </button>
                </div>
            </div>
            <br><br>

        </div>

    </div>
</section>


<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('detail')">
</div>
<!-- // SIDEBAR -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/common.js}"></script>


</body>

</html>