<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('MAIN')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('MAIN')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">

        <div class="d-flex justify-content-between py-3">

            <h3 classt="pt-3 pb-1">
                <span class="text-primary" th:text="${stock.stockName}"></span>&nbsp;
                <span th:text="${stock.stockId}"></span>
            </h3>

            <form th:action="@{/board/list}" th:method="GET">
                <div class="d-flex">
                    <input type="hidden" name="stock" th:value="${stock.stockId}">
                    <input class="form-control mr-1" type="text" name="search" th:value="${param.searchText}" style="width: 12rem !important;">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

        </div>


        <table class="table">
            <colgroup>
                <col width="20%">
                <col width="50%">
                <col width="30%">
            </colgroup>
            <thead class="text-center">
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td class="text-center" th:text="${board.user.username}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/detail(s=${stock.stockId}, b=${board.boardId})}"></a>
                </td>
                <td class="text-center" th:text="${board.createdAt}"></td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="@{/board/list(stock=${stock.stockId}, page=${boards.pageable.pageNumber - 1}, search=${param.search})}">
                            <span aria-hidden="true"> < </span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"
                        th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link"
                           th:href="@{/board/list(stock=${stock.stockId}, search=${param.search}, page=${i - 1})}">
                            <span th:text="${i}"></span>
                        </a>
                    </li>

                    <li class="page-item"
                        th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" aria-label="Next"
                           th:href="@{/board/list(stock=${stock.stockId}, page=${boards.pageable.pageNumber + 1}, search=${param.search})}">
                            <span aria-hidden="true"> > </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <form th:action="@{/board/write}" th:method="GET">
                <input type="hidden" name="stock" th:value="${stock.stockId}">
                <div class="text-end">
                    <button type="submit" class="btn btn-outline-success p-1">
                        글 작성
                    </button>
                </div>
            </form>
        </div>

    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('MAIN')">
</div>
<!-- // SIDEBAR -->

</body>

</html>