<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head('main')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('main')">
</nav>

<section>
    <div class="main col-lg-8  bg-white m-auto h-100 p-3">

        <!-- 여기서부터 쪼개면 됨 -->
        <div class="row p-0 m-0">

            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">

                        <!-- SERCTION 1 -->
                        <div style="font-size: .5rem !important;">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4><b clastt="text-primary">[한국큐빅]</b> 토론방</h4>
                                <button type="button" class="btn btn-outline-primary p-1">
                                    <i class="fa fa-plus p-1 m-0"></i> <span>더보기</span></button>
                            </div>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>작성자</th>
                                    <th>제목</th>
                                    <th>작성일시</th>
                                    <th>좋아요</th>
                                    <th>댓글수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- // SERCTION 1 -->

                    </div>
                </div>
            </div>

        </div>

        <!-- 여기서부터 쪼개면 됨 -->

    </div>
</section>



<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('main')">
</div>
<!-- // SIDEBAR -->

<footer>

</footer>
</body>

</html>