<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(${board.title})">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('DETAIL')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto p-3">

        <div>
            <a class="btn btn-outline-secondary py-1 px-2" th:href="@{/board/detail(b=${board.boardId}, s=${stockId})}">
                <i class="fa fa-arrow-left"></i> 돌아가기
            </a>
        </div>
        <div class="pt-5 pb-2">
            <input type="hidden" name="boardId" id="boardId" th:value="${board.boardId}">
            <span class="py-2 text-primary">제목</span>
            <input class="form-control fs-6 fw-bold" id="title" name="title" th:value="${board.title}">
        </div>
        <br>
        <span class="py-2 text-primary">내용</span>
        <textarea class="form-control board-content card-body overflow-auto" id="content" name="content" th:utext="${board.content}"></textarea>
        <div class="py-3 text-end">
            <button type="button" class="btn btn-outline-primary text-end" th:onclick="updateBoard([[${stockId}]], [[${board.boardId}]])"><span>저장</span></button>
        </div>
    </div>
</section>


<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('DETAIL')">
</div>
<!-- // SIDEBAR -->

<script th:src="@{/js/common.js}"></script>

<script>
    function updateBoard(stockId, boardId) {

        const title = document.querySelector("#title").value;
        const content = document.querySelector("#content").value.replace(/(\n|\r\n)/g, '<br>');
        $.ajax({
            url: `/board/update/${boardId}`,
            type: "POST",
            data: {
                title: title,
                content: content
            },
            success: function (res) {
                location.href = `/board/detail?b=${boardId}`;
            }
        })
    }
</script>

</body>

</html>