<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('500')">
</head>
<body>
<div class="pt-4">
    <h1 class="text-center pt-5 text-danger" th:text="${status + ' !!'}"></h1>
    <h4 class="text-center pt-2">
        <button type="button" class="btn btn-outline-danger" onclick="goBack()">뒤로가기</button>
    </h4>
    <!--      <p th:text="${'timestamp: ' + timestamp}"></p>-->
    <!--      <p th:text="${'error: ' + error}"></p>-->
    <!--      <p th:text="${'errors: ' + errors}"></p>-->
    <!--      <p th:text="${'exception: ' + exception}"></p>-->
    <!--      <p th:text="${'message: ' + message}"></p>-->
    <!--      <p th:text="${'trace: ' + trace}"></p>-->

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${trace}]]*/ 'default';
    console.log(message);
    /*]]>*/
    alert("유효하지 않은 요청입니다");

    function goBack() {
        window.history.back();
    }

</script>
</body>
</html>

