h1, h2, h3, h4, h5, span {
  font-family: 'Do Hyeon', sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
nav > div {
  height: 3rem;
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 280px;
}

a {
  text-decoration-line: none;
}

section {
  width: 100%;
  background: rgb(248, 249, 250);
  height: calc(100% - 3rem);
}

#searched tr td {
  padding: .2rem;
}

#ui-id-1 {
  max-height: 400px;
  overflow: hidden auto;
}

.comment-form {
  border-bottom: 1px solid #f3f3f3;
}

.board-content{
  min-height: 20rem !important;
}

.tab-pane.fade.active {
  border-bottom: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  border-left: 1px solid #dee2e6 !important;
}

.dropdown-menu {
  min-width: 6rem !important;
  font-size: .75rem !important;
}