<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head('REPORT')">
</head>

<body>
<nav class="bg-dark" th:replace="layout/layout :: menu('REPORT')">
</nav>

<section>
    <div class="main col-lg-8 bg-white m-auto h-100 p-3 overflow-auto">
        <h4 class="pt-2 pb-3">오늘의 공시</h4>
        <div class="px-2 pt-3 pb-4 d-flex justify-content-between">
            <div>
                <a class="btn btn-outline-primary rounded-pill p-1" th:href="@{/report/today}"
                   th:classappend="${reportType == 'today'} ? 'btn btn-primary text-white'"><span> 전체 </span></a>
                <a class="btn btn-outline-primary rounded-pill p-1" th:href="@{/report/regular}"
                   th:classappend="${reportType == 'regular'} ? 'btn btn-primary text-white'"><span>정기공시</span></a>
                <a class="btn btn-outline-primary rounded-pill p-1" th:href="@{/report/share}"
                   th:classappend="${reportType == 'share'} ? 'btn btn-primary text-white'"><span>지분공시</span></a>
                <a class="btn btn-outline-primary rounded-pill p-1" th:href="@{/report/contract}"
                   th:classappend="${reportType == 'contract'} ? 'btn btn-primary text-white'"><span>수주공시</span></a>
                <!--
                    보류
                    <a class="btn btn-outline-primary rounded-pill p-1" th:href="@{/report/facility}"><span>시설투자</span></a>
                -->
            </div>
            <div>
                <a class="btn btn-outline-primary rounded-pill p-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                        상세검색
                        <i class="fa fa-search"></i>
                    </span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header p-2">
                                <h5 class="modal-title" id="exampleModalLabel">공시 상세검색</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/report/search}" th:method="POST" th:onsubmit="return searchValidation()">
                                    <div class="btn-group w-100 pt-2 pb-4" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="searchType" id="corpName" autocomplete="off" checked value="corpName">
                                        <label class="btn btn-outline-primary" for="corpName">기업명</label>
                                        <input type="radio" class="btn-check" name="searchType" id="reportNm" autocomplete="off" value="reportNm">
                                        <label class="btn btn-outline-primary" for="reportNm">보고서명</label>
                                    </div>
                                    <div class="d-flex">
                                        <div class="w-50">
                                            <label>시작일</label>
                                            <input class="form-control" type="date" name="searchStart" id="searchStart">
                                        </div>
                                        <div class="w-50">
                                            <label>종료일</label>
                                            <input class="form-control" type="date" name="searchEnd" id="searchEnd">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="text-end pb-4">
                                        <input class="form-control" type="text" name="searchText" autocomplete="off">
                                        <button type="submit" class="btn btn-outline-primary">
                                            <span>검색</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <thead class="text-center">
                <tr>
                    <th>공시기업</th>
                    <th>보고서명</th>
                    <th>제출인</th>
                    <th>접수일자</th>
                </tr>
                </thead>
                <tbody style="font-size: .75rem;" class="text-center">
                <tr th:each="report : ${reports}">
                    <td th:text="${report.corpName}"></td>
                    <td class="text-primary text-start">
                        <a type="button" th:onclick="reportLink([[${report.rcpNo}]])"
                           th:text="${report.reportNm}"></a>
                    </td>
                    <td th:text="${report.flrNm}"></td>
                    <td th:text="${report.rceptDt}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center" th:if="${reports.totalElements > 100}">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item" th:classappend="${1 == reports.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="@{/report/today(page=${reports.pageable.pageNumber - 1})}">
                            <span aria-hidden="true"> < </span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == reports.pageable.pageNumber + 1} ? 'disabled'"
                        th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/report/today(page=${i - 1})}">
                            <span th:text="${i}"></span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${reports.totalPages == reports.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" aria-label="Next" th:href="@{/report/today(page=${reports.pageable.pageNumber + 1})}">
                            <span aria-hidden="true"> > </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- SIDEBAR -->
<div id="sidebar" th:replace="layout/layout :: sidebar('REPORT')">
</div>
<!-- // SIDEBAR -->

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/disclosure.js}"></script>


</body>


</html>